<table class="table table-bordered">
    <thead>
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Başlık</th>
        <th>İlçe</th>
        <th>Adres</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td><input type="text" [(ngModel)]="usernameFilter" (keyup)="filterUsername()"> </td>
    </tr>
    <tr *ngFor="let user of userList">
        <td>{{ user.username }}</td>
        <td>{{ user.title }}</td>
        <td>{{ user.town }}</td>
        <td>{{ user.address }}</td>
    </tr>
    </tbody>
</table>

